<section class="registration">
  <form action="/signup" method="POST">
    <label for="email">Enter your email</label>
    <input type="text" name="email" id="email">
    <label for="name"> Your Name</label>
    <input type="text" name="name" id="name">
    <label for="password">Create password</label>
    <input type="password" name="pass" id="password">
    <input type="submit" value="sign up">
  </form>
</section>